:root{
    --primary: #837457;
    --secondary: #b39f77;
    --background: #151413;
    --text: #b0ad96;
    --primaryinv: #5e6980;
    --secondaryinv: #4f5169;
    --backgroundinv: #eaebec;
    --textinv: #4f5169;
}
* {
    padding: 0;
    margin: 0;
    color: var(--text);
    font-variant: small-caps;
    font-family: 'custom', sans-serif;
}
@font-face {
    font-family: 'custom';
    src: url('ShareTechMonoRegular_0_0.otf');
    font-weight: normal;
    font-style: normal;
}
.getready {
    margin: 1em;
}
header {
    width: 100vw;
    height: 99vh;
    position: relative;
    overflow: hidden;
}
main {
    background-color: var(--background);
}
.theme-change{
    width: 5vw;
    height: 5vh;
    color: var(--primary);
    box-shadow:     
    inset 0 10em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
    border-radius: 1vh;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.theme-change i {
    display: flex;
    justify-content: center;
    margin: 0.9em;
}
.theme-change:hover{
    background-color: var(--secondary);
    box-shadow:     
    inset 0 10em 3em var(--secondary),
    0 0 0 1px var(--secondary),
    0.3em 0.3em 1em var(--secondary);
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-color: var(--background);
    transform: translateZ(-50px) scale(1.1);
}
.about {

    text-align: center;
    align-items: center;
    justify-content: center;
}
.eftinfo {
    padding: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.gameinfo {
    display: flex;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em
}
.comments {
    margin: 5em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.pmcicon {
    width: 300px;
    height: 370px;
    padding: 20px;
}
.features {
    padding: 2vw;
    margin: 2vh;
}
.after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 6em;
    height: 0.3em;
    background: var(--primary);
}
.imgs {
    border: var(--primary);
    box-shadow:     
    inset 0 -3em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
}
.gameinfoimg {
    border: var(--primary);
    box-shadow:     
    inset 0 -3em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
    margin: 1em;
}
.features-list {
    padding: 1em;
}
li {
    padding: 0.5em;
}
.feature {
    display: flex;
    align-items: center;
    padding: 2em;
}
.featurestext {
    padding: 2em;
}
footer {
    display: flex;
    align-items: center;
    padding-bottom:2em;
    padding-left:5em ;
}
h2 {
    color: var(--primary);
}
.about h2{
    line-height: 2em;
    padding: 1em;
}
.layers-container {
    height: 100vh;
    transform-style: preserve-3d;
    will-change: transform;
}
.layers-item {
    position: absolute;
    background-size: cover;
    background-position: center;
}
.head-text {
    transform: translateZ(80px)scale(0.8);
}
.hero {
    perspective: 1000px;
    overflow: hidden;   
}
.music {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em
}
.musiccontainer {
    border-radius: 0.2em;
    padding: 1em;
    width: 25vw;
    min-width: fit-content;
    height: 23vh;
    background-color: var(--primary);
    border: var(--primary);
    box-shadow:     
    inset 0 -3em 3em var(--primary),
    0 0 0 1px var(--primary),
    0.3em 0.3em 1em var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.musicimg {
    border-radius: 100%;
    width: 23vh;
    height: 23vh;
    display: flex;
}
.playbtn {
    margin: 0.5em;
    align-items: bottom;
    justify-content: bottom;
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    background-color: gray;
}
.progressbar {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    margin: 0.5em;
    width: 15vw;
    height: 1vh;
    border-radius: 0.5em;
    background-color: gray;
}
.musicprogress {
    padding: 1em;
}
.musicprogress h2 {
    padding-bottom: 2em;
    color: darkgray;
}
.time {
    color: darkgray;
}
.progress {
    height: 100%;
    width: 0%;
    background-color: rgb(80, 80, 80);;
    border-radius: 0.5em;
}