* {
    padding: 0;
    margin: 0;
    color: #b0ad96;
    font-variant: small-caps;
    font-family: 'custom', sans-serif;
}
@font-face {
    font-family: 'custom';
    src: url('ShareTechMonoRegular_0_0.otf');
    font-weight: normal;
    font-style: normal;
}
.getready {
    margin: 1em;
}
header {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
main {
    background-color: #151413;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-color: #151413;
}
.about {
    padding: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.eftinfo {
    padding: 2vh;
}
.gameinfo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.comments {
    margin: 5em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.pmcicon {
    width: 300px;
    height: 370px;
    padding: 20px;
}
.features {
    padding: 2vw;
    margin: 2vh;
}
.after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 3px;
    background: #837457;
}
.imgs {
    border: #837457;
    box-shadow:     
    inset 0 -3em 3em #837457,
    0 0 0 1px #837457,
    0.3em 0.3em 1em #837457;
}
.gameinfoimg {
    border: #837457;
    box-shadow:     
    inset 0 -3em 3em #837457,
    0 0 0 1px #837457,
    0.3em 0.3em 1em #837457;
    margin: 1em;
}
.features-list {
    padding: 1em;
}
li {
    padding: 5px;
}
.feature {
    display: flex;
    align-items: center;
    padding: 20px;
}
.featurestext {
    padding: 20px;
}
footer {
    display: flex;
    align-items: center;
    padding-bottom:2em;
    padding-left:5em ;
}
.about h2 {
    color: #837457;
}
.features-list h2 {
    color: #837457;
}
.comments h2 {
    color: #837457;
}
.about h2{
    line-height: 2em;
    padding: 1em;
}